profiles {
uppmax {
process.executor='slurm'
process.time="72 h"
process.cpus="48"
process.memory="120 GB"
process.scratch=true
process.clusterOptions = {"-A $params.project ${params.clusterOptions ?: ''}"}
singularity.enabled = true
}
}

params {
	pattern = "*R[1,2]*.gz"
 	qd_snp = "< 2.0" 
	fs_snp = "> 60.0 " 
	mq_snp = "< 40.0" 
	mqrs_snp = "< -12.5" 
	rprs_snp = "< 8.0" 
	qd_indel = "< 2.0" 
	fs_indel = "> 200.0" 
	rprs_indel = "> 20.0"
}
